:root {
    --text: #e5edfd;
    --background: #1a1a1a;
    --primary: #749cfd;
    --secondary: #532084;
    --accent: #3866e3;
    --rot: 0deg;
    --icon: url(/icons/cloudflare.svg);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
}

#landing {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-img {
    width: 11rem;
    height: 11rem;

    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    cursor: pointer;

    transition: transform 0.3s;
}

#main-img:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

#main-img:active {
    transform: translate(-50%, -50%) scale(1.2);
}

.main-graphic {
    position: relative;
}

#circle-1 {
    --circle-size: 20rem;
    z-index: 2;
}

#circle-2 {
    --circle-size: 30rem;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 0;
    border-radius: 50%;
    list-style: none;

    width: var(--circle-size);
    height: var(--circle-size);

    --offset: 0;
}

.dev-icon {
    display: block;
    position: absolute;
    width:  1.5rem;
    height: 1.5rem;
    top:  50%;
    left: 50%;
    margin: calc(-1.5rem / 2);
    transition: transform 0.15s;
    z-index: 10;

    --updatedRot: calc(var(--rot) + var(--offset));
    --rotPos: calc(var(--updatedRot) * 1deg);
    --rotNeg: calc(var(--updatedRot) * -1deg);

    transform:
        rotate(var(--rotPos))
        translate(calc(var(--circle-size) / 2))
        rotate(var(--rotNeg));
}

.dev-icon::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(1rem);
    z-index: -1;
}

.dev-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    transition: transform 0.15s;
}

.dev-icon img:hover {
    transform: scale(1.3) rotate(0deg);
}